HOUSE_PASSWORD=change-me
SESSION_SECRET=change-me-too
PORT=3000
SMTP_USER=your-gmail@gmail.com
SMTP_PASS=your-gmail-app-password
GOOGLE_DRIVE_PHOTOS_FOLDER_ID=1astQn6_EuLIkz0zrwi5IjJA92Lxwxn86
GOOGLE_DRIVE_BACKUP_FOLDER_ID=1Wm0VW9aWgYBEKeNXDZgPTjVVFNMZ4yHy
